body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  width: 80%;
  max-width: 500px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.close-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
}

.input-group {
  display: flex;
  margin-bottom: 10px;
}

.input-group input {
  flex: 1;
}

.input-group button {
  margin-left: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.add-workout-button {
  margin-left: 5px;
}
.results-container {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 1rem;
}
.dark-input {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  width: 100%;
  outline: none;
  transition: all 0.3s ease;
}

.dark-input:focus {
  border-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.outline-button {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  text-align: center;
  transition: all 0.3s ease;
  width: auto;
  outline: none;
}

.outline-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
